* {
    outline: none;
    box-sizing: border-box;
}

:root {
    --theme-bg-color: rgba(16 18 27 / 40%);
    --border-color: rgba(113 119 144 / 25%);
    --theme-color: #f9fafb;
    --inactive-color: rgb(113 119 144 / 78%);
    --body-font: "Poppins", sans-serif;
    --hover-menu-bg: rgba(12 15 25 / 30%);
    --content-title-color: #999ba5;
    --content-bg: rgb(146 151 179 / 13%);
    --button-inactive: rgb(249 250 251 / 55%);
    --dropdown-bg: #f7f7f7;
    --dropdown-hover: rgb(42 46 60);
    --popup-bg: rgb(22 25 37);
    --search-bg:  #14162b;
    --overlay-bg: rgba(36, 39, 59, 0.3);
    --scrollbar-bg: rgb(1 2 3 / 40%);
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
}

.hidden {
    opacity: 0;
    display: none;
}

.home-page {
    background-image: url(https://wallpapershome.com/images/wallpapers/macos-big-sur-1280x720-dark-wwdc-2020-22655.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video-bg {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    min-width: 35%;
    max-width: 40%;
}

.inside-window {
    width: 70%;
    background-color: var(--theme-bg-color);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    z-index: 100;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--theme-color);
    border-bottom: 1px solid var(--border-color);
}

.content {
    color: var(--theme-color);
    background-color: var(--theme-bg-color);
    border-radius: 0 0 14px 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 15px;
}

.amount-input {
    background-color: var(--theme-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 14px 0 0 14px;
    padding: 10px;
    color: var(--theme-color);
}

.select-button {
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    border: 1px solid var(--border-color);
    border-left: none;
    border-radius: 0 14px 14px 0;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.selector {
    position: absolute;
    flex-direction: column;
    align-items: center;
    left: -10px;
    top: 40px;
}

.selector-options {
    border: none;
    background-color: var(--theme-bg-color);
    color: var(--theme-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px 20px;
    cursor: pointer;
    transition: all .3s;
}

.selector-options:hover {
    background-color: var(--dropdown-hover);
}

.selector-options:first-child {
    border-radius: 14px 14px 0 0;
}

.selector-options:last-child {
    border-radius: 0 0 14px 14px;
    border: none;
}